.w-100 {
  width: 100% !important;
}
@media (max-width: 767px) {
  .sm-w-100 {
    width: 100% !important;
  }
}

.w-0 {
  width: 0 !important;
}
@media (max-width: 767px) {
  .sm-w-0 {
    width: 0 !important;
  }
}

.w-fit {
  width: fit-content;
}
@media (max-width: 767px) {
  .sm-w-fit {
    width: fit-content;
  }
}

.w-inherit {
  width: inherit;
}
@media (max-width: 767px) {
  .sm-w-inherit {
    width: inherit;
  }
}

.d-none {
  display: none !important;
}
@media (max-width: 767px) {
  .sm-d-none {
    display: none !important;
  }
}

.d-block {
  display: block !important;
}
@media (max-width: 767px) {
  .sm-d-block {
    display: block !important;
  }
}

.d-flex {
  display: flex !important;
}
@media (max-width: 767px) {
  .sm-d-flex {
    display: flex !important;
  }
}

.v-hidden {
  visibility: hidden;
}
@media (max-width: 767px) {
  .sm-v-hidden {
    visibility: hidden;
  }
}

.v-visible {
  visibility: visible !important;
}
@media (max-width: 767px) {
  .sm-v-visible {
    visibility: visible !important;
  }
}

@media (max-width: 767px) {
  .sm-w-8rem {
    width: 8rem !important;
  }
}

@media (max-width: 767px) {
  .sm-w-15rem {
    width: 15rem !important;
  }
}

.activeSideNavItem {
  background: linear-gradient(
    to right,
    #e0e0e4 0%,
    rgba(125, 185, 232, 0) 100%
  );
  color: #3b4cb8 !important;
  &::before {
    content: "";
    height: 63px;
    width: 10px;
    position: absolute;
    left: 0;
    background: #3b4cb8;
    border-radius: 0 0.75rem 0.75rem 0;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }

  @media (max-width: 1200px) {
    background: none;
    i {
      color: #fff;
    }
    &::before {
      display: none;
    }
  }

  @media (max-width: 767px) {
    background: none;
    i {
      margin-right: 10px;
      color: inherit;
    }
    &::after {
      position: absolute;
      content: "";
      border-width: 1px 0 0 1px;
      border-style: solid;
      width: 0.5rem;
      height: 0.5rem;
      right: 1.875rem;
      top: 48%;
      border-color: inherit;
      -webkit-transform: rotate(-225deg) translateY(-50%);
      transform: rotate(-225deg) translateY(-50%);
      transform-origin: top;
      transition: all 0.3s ease-out;
    }
  }
}

.activeSideSubItem {
  background: linear-gradient(
    to right,
    #e0e0e4 0%,
    rgba(125, 185, 232, 0) 100%
  );
  color: #3b4cb8 !important;

  @media (max-width: 1200px) {
    background: none;
  }
}
